header{
    background-color: rgb(37, 37, 37);
    padding: 2px 0px 2px 0px;
}

a{
    color: white;
    text-decoration: none;
}

header ul li{
    display: inline;
    color: white;
    margin: 0px 5px 0px 5px;
}

.content{
    height: 310px;
    column-count: 4;
    column-gap: 20px;
    column-rule: 3px solid gray;
    text-align: justify;
}

.span{
    column-span: all;
}

footer{
    background-color: rgb(37, 37, 37);
    text-align: center;
    color: white;
    font-size: 20px;
}